# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook
.ipynb_checkpoints

# Environment
venv/
.venv/
env/
ENV/

# VSCode
.vscode/

# PyCharm
.idea/

# MacOS
.DS_Store

# Logs
*.log

# Data files (nếu dataset lớn)
data/
data/raw/
data/interim/

# Model files
*.pkl
*.joblib

*.csv

# Output files
outputs/
results/
notebook/checkpoint
notebook/rules_output